*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: '나눔스퀘어';
}

html, body {
  width:1200px;   /* 내용 전체의 너비 */
  margin:0 auto;  /* 내용을 화면 가운데 배치하도록 좌우 마진을 auto로 */
}

/* body 내용 */
/*헤더*/

header {
  width: 100%;
}

.top{
  width: 1200px;
  margin: 0 auto;                /* 가운데 정렬 */
  display: flex;
  align-items: center;    /* 세로 가운데 정렬 */
  justify-content: space-between;
}

/* 헤더의 로고 이미지 */
.top img {
  width: 250px;
  height: 115px;
  padding: 30px 0 10px 10px;
}

.top h1 {
  margin: 0;
}

/* 헤더의 오른쪽 글 */
.top h2 {
  display: flex;
  gap: 5px; /*h2 태그들 사이 간격 줄이기*/
  margin: 0;
  font-size: 25px;
  line-height: 1;   /* 이미지랑 더 잘 맞게 */
  
}


/* main */
main {
  margin-top: 50px;   /* 원하는 만큼 조절 */
}

/* main > section */
section {
  margin: 60px 0;
}

/* section > introduce */
.introduce {
  align-items: center;
  gap: 20px;
}

.introduce-content {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto; 
  gap: 150px;
}

.introduce-content p {
  margin: 0;
  line-height: 1.8;
}

.badge-wrap {
  display: flex;
   gap: 10px;        /* ← 뱃지 사이 간격 */
  margin-top: 12px;
}

.badge-wrap img {
  width: 80px !important;   /* ← 이게 핵심 */
  height: auto !important;
  max-width: none !important;
}

/* img 위치 조정 */
.introduce-content img {
  display: flex;
  gap: 150px;
  width: 180px;
  height: auto;
  flex-shrink: 0;
}



/* section > experiences 섹션 */
/* 그리드 구성 */
.experience-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 30px;
}

/* 카드 구성 */
.experience-card {
  background: #fff;
  border-radius: 18px;
  padding: 30px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}

.experience-card:hover {
  transform: translateY(-6px);
}

.experience-card img {
  width: 100%;
  height: 180px;
  object-fit: cover; /*카드에 꽉 차게 잘림*/
  border-radius: 12px;
  margin-bottom: 20px;
}

.experience-card h3 {
  margin: 0 0 12px;
  font-size: 20px;
}

.experience-card p {
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
  color: #555;
}




